# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
.Rhistory

# RStudio files
.Rproj.user/

# RPubs and vim files
*_cache/
/.gitignore.swp
/.gitignore~
/README~
/rmd/*.html
